<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <!-- <link rel="stylesheet" href="../style/global.css"> -->
    <link rel="stylesheet" href="../css/hightlight.min.css">
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/androidstudio.min.css">  -->
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js"></script>  -->
    <script></script>

</head>
<body>
    <h1>안녕하세요</h1>
    <div>
        <%-contents%>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</body>
</html>